<div id="video_upload_form_container" class="clearfix">
  <span class="title"> Upload Your Video</span>
  <%= form_for @video, :url => videos_url, :method => :post, :builder => FormWithValidations, :html => {:id => "video_upload", :class => "form", :multipart => true} do |f| %>
    	<%= f.error_messages %>
      <div class="form-group">
      	<%= f.text_field :name, :class => 'form-control input-lg', :placeholder => 'Title', :required => true %>
    	</div>
      <%= f.hidden_field :student_id, :value => @video.student_id %>
    	<div class="form-group">
      	<%= f.text_field :description, :class => 'form-control input-lg', :placeholder => 'Description', :required => true %>
    	</div>

    	<span class="btn btn-default btn-file">
  		  <%= f.file_field :video, required: true %>
  	  </span>
      <%= f.select :category_id, Category.all.collect{|c| [c.name, c.id]}, {:include_blank => false}, {:class => 'form-control input-lg category_select'} %>
  	
    <%= f.submit "upload", :class => 'upload_video_button btn btn-lg btn-primary btn-block' %>
  <% end %>
</div>